
@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/gothampro-bold.woff2') format('woff2'),
    url('../assets/fonts/gothampro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/*
@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-LightIt.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-LightIt.woff') format('woff'),
  url('../assets/fonts/MyFontName-LightIt.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-Regular.woff2') format('woff2'),
    url('../assets/fonts/MyFontName-Regular.woff') format('woff'),
    url('../assets/fonts/MyFontName-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-RegularIt.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-RegularIt.woff') format('woff'),
  url('../assets/fonts/MyFontName-RegularIt.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-Semibold.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-Semibold.woff') format('woff'),
  url('../assets/fonts/MyFontName-Semibold.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-SemiboldIt.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-SemiboldIt.woff') format('woff'),
  url('../assets/fonts/MyFontName-SemiboldIt.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-Bold.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-Bold.woff') format('woff'),
  url('../assets/fonts/MyFontName-Bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-BoldIt.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-BoldIt.woff') format('woff'),
  url('../assets/fonts/MyFontName-BoldIt.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-Extrabld.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-Extrabld.woff') format('woff'),
  url('../assets/fonts/MyFontName-Extrabld.eot') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: MyFontName;
  src: url('../assets/fonts/MyFontName-Black.woff2') format('woff2'),
  url('../assets/fonts/MyFontName-Black.woff') format('woff'),
  url('../assets/fonts/MyFontName-Black.eot') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
*/
