// General

$mainFont         : MyFontName, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto; //Really safety...Can u feel it?
$mainFontSize     : 100%; // check the project defaults
$mainLineHeight   : 1.4;
$mainFontWeight   : 400;
$mainFontColor    : #000;

//Project

$contentWidth     : 1170px; //Check the layout
$gutter           : 15px;

$infoFontSize     : 0.875rem; // 14px Additional font sizes for the project

//Colors

$primaryColor     : #473163;
$accentColor      : #45c7b9;
$whateverElseColor: #d9bf8c;

//Multiple gradients

