// General

$mainFont         : MyFontName, 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontSize     : 16px;
$mainLineHeight   : 1.4;
$mainFontWeight   : 400;
$mainFontColor    : #000;

//Project

$contentWidth     : 1170px; //Check the layout
$gutter           : 15px;

$infoFontSize     : 14px; //Additional font sizes for the project

$h2FontSize       : 3em; // Might use VW instead
$h3FontSize       : 2.5em;
$h4FontSize       : 1.22em;

//Colors

$primaryColor     : #473163;
$secondaryColor   : #45c7b9;
$thirdColor       : #d9bf8c;

//Multiple gradients

